<h1>HTTP GET requests using HttpClient in service</h1>



   <table border="1">
    <tr>
      <th [attr.colspan]="4">
        All Users Details
      </th>
    </tr>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Email</td>
      <td>Phone</td>
    </tr>
    <tr *ngFor="let item of arr">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.phone}}</td>
    </tr>
  </table><br><br><br>

<h1>HTTP POST requests using HttpClient</h1>

<form action="" id="form" #refForm="ngForm" (ngSubmit)="handleInput(refForm)">
  Enter Name:<input type="text" name="name" ngModel><br><br>
  Enter Email:<input type="text" name="email" ngModel><br><br>
  Enter Phone:<input type="text" name="phone" ngModel><br><br>
  <button>PostData</button>
</form>
    

